
@{
    ViewBag.Title = "Login";
}



<h2>Login Here</h2>


<form method="post">
    <input type="text" placeholder="Username" name="Username" class="form-control w-100 m-2" />

    <input type="text" placeholder="Password" name="Password" class="form-control w-100 m-2" />


    <input type="submit" value="Login" class="btn btn-success m-2" />
</form>
